/*
saludo: hola mundo
autor: yerson rubiano 
fecha:17/06/24 
*/
body{
    background: #000;
}

.forma{
    width: 1250px;
    /* border:  1px solid black; */
    margin: auto;
    margin-top: 250px;

}
input[type="number"]:focus{
    border: none;
    background: linear-gradient(to bottom,transparent,rgb(0, 47, 255));
    border-bottom: 5px solid red;
    color: white;
     border-top-right-radius:40px ;
}


input[type="number"]{
     border-top-right-radius:40px ;
    color: white;
    border: none;
    background: linear-gradient(to bottom,transparent,rgb(0, 47, 255));
    border-bottom: 5px solid red;
}
.center{
    margin: 20px 250px 0px 250px;
}
.formulario{
    border:  1px solid rgb(255, 0, 0);
}
.respuesta{
    border:  1px solid rgb(255, 0, 0);

}
.formulario ,.respuesta{
    margin-left: 10px;
    border-radius: 6px;
    padding: 15px;
    color: blue;
}

#resultado{
    text-align:center;
    line-height: 60px;
}
